@import '../../utilities/variables.scss';


.story-container {
  .story-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "text1 image1"
      "image2 text2";
    overflow: hidden;

    .title-description-container {
      align-self: center;
      padding: 25px;

      h1 {
        font-size: $header-font-size;
        font-weight: bold;
        margin: 0 0 10px 0;
      }
      p {
        font-size: $small-paragraph-font-size;
      }
    }
    .story__img {
      max-height: 100%;
      //min-height: 100%;
      max-width: 100%;
      //min-width: 100%;
      object-fit: cover;
    }
    #story__text1 { grid-area: text1; }
    #story__text2 { grid-area: text2; }
    #story__img1 { grid-area: image1; }
    #story__img2 { grid-area: image2; }
  }
}

@media screen and (max-width: 1000px) {
  .story-container > .story-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "text1"
      "image1"
      "text2"
      "image2";
  }

}
