@import './utilities/variables.scss';

$primary-color: black;

* {
  font-family: $primary-font;
}

section {
  margin-bottom: 50px;
}

h1 {
  color: $primary-font-color-dark;
  font-family: $header-font;
}

body {
  margin: auto;
  background-color: #F2F2F2;
}
