@import '../../utilities/variables.scss';

.location-content-main {
  padding: 0 5px 0 5px;
}

.header {
  @include header;
  text-align: center;
}

.location-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
  grid-gap: 8px 8px;
}
